.red{
    color:rgb(0, 100, 208);
}
/* .list{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
h1{
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

